    <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Informacion
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">Como está Cartagena</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Estadisticas
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-nacidos' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Nacimientos en Cartagena <i class="fas fa-users"></i></h4>
                                        <h3></h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-pobrezacar' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Pobreza en Cartagena <i class="fas fa-box"></i></h4>
                                        <h3></h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{% url 'dashboard-matriculacar' %}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Matrícula escolar en Cartagena <i class="fas fa-shipping-fast"></i></h4>
                                        <h3></h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->